        * {
            padding: 0%;
            margin: 0%;
            box-sizing: border-box;

        }

        html {
            scroll-behavior: smooth;
            /* scroll-behavior: inherit; */
            /* scroll-behavior: initial; */
        }

        body {
            background-color: #050912;
            background-color: #171925;
            width: 100%;
            color: #ffffff;
            font-family: 'Josefin Sans', sans-serif;
            background-repeat: no-repeat;
            background-size: cover;
        }

        header {
            margin-top: 20px;
            width: 100%;
            height: 50px;
            color: aliceblue;
            background-color: #24293dfb;
            display: flex;
            justify-content: space-between;
            padding: 0 10%;
            line-height: 50px;
            position: sticky;
        }

        div.logo {
            letter-spacing: 1.5px;
            font-size: 23px;
            margin-left: 30px;
            font-weight: bold;
        }

        div.logo span {
            color: #51c3e0;
            color: #00aaff;
            color: #76daff;
            font-size: 27px;
        }

        ul.list {
            list-style: none;
            display: flex;
            letter-spacing: 1px;
            font-size: 20px;
        }

        .list a {
            text-decoration: none;
            color: white;
        }

        li.list-item:hover {
            transform: scale(1.1);
            color: #76daff;
            transition: all 0.3s;
        }

        li.list-item {
            margin: 0px 30px;

        }

        button#ham {
            display: none;
            width: 50px;
            font-size: 23px;
            background-color: transparent;
            color: white;
            border: none;
        }

        button#cancel {
            display: none;
            width: 50px;
            font-size: 30px;
            background-color: transparent;
            color: #0f121c;
            margin: 15px 0px;
            border: none;
        }

        section#home {
            align-items: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-size: x-large;
            height: 92vh;
            background: linear-gradient(rgb(1 5 14 / 92%), rgb(9 16 28 / 83%)), url(beg5.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            z-index: -2;
        }

        section#home .home {
            align-items: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            animation: home-animation 2s linear;
            animation: name duration timing-function delay iteration-count direction fill-mode;
        }

        @keyframes home-animation {
            0% {
                transform: scale(0);
                transform-origin: 0px -500px;
            }

            100% {
                transform: scale(1);
            }
        }

        section#home img {
            width: 300px;
        }

        section#home img,
        h4,
        h1.h1,
        h3,
        h2 {
            margin: 15px 0px;
            letter-spacing: 1.5px;
            align-items: center;
        }

        section#home h4 {
            color: #bbb2b2;
        }


        button.about {
            background-color: transparent;
            border: 2px solid #00aaff;
            padding: 10px 25px;
            border-radius: 5px;
            font-weight: bold;
            font-size: 18px;
            color: aliceblue;
            letter-spacing: 1.5px;
            font-family: 'Josefin Sans', sans-serif;
            margin: 15px 0px;

        }

        button.about:hover,
        a.cv:hover {
            background-color: #00aaff;
            transition: 400ms;
        }

        span {
            color: #76daff;
        }

        .theme-list {
            list-style: none;
        }

        section#about {
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            margin-top: 80px;
            width: 100%;
            padding: 0% 10%;
        }

        div.container {
            justify-content: center;
            display: flex;
            align-items: center;
            margin: 100px 0px;
            width: 70vw;
            background: #24293d;
            padding: 70px;
            border-radius: 15px;
            box-shadow: #3599ff96 5px 5px 10px 0px;
        }

        .img-container img {
            margin: 0px;
            margin-right: 20px;
            border-radius: 5px;
            width: 300px;
            box-shadow: 0px 0px 6px cyan;
        }

        div.content-container {
            padding-left: 15px;
            font-size: larger;
        }

        a.cv {
            background-color: transparent;
            border: 2px solid #00aaff;
            padding: 10px 25px;
            border-radius: 5px;
            font-weight: bold;
            font-size: 18px;
            color: aliceblue;
            letter-spacing: 1.5px;
            font-family: 'Josefin Sans', sans-serif;
            text-decoration: none;
        }

        p.p1,
        ul.theme-list {
            line-height: 30px;
        }

        h1.heading {
            font-size: xx-large;
            color: #76daff;
            margin: 7px;
        }

        hr {
            width: 120px;
            height: 5px;
            background-color: #ffffff;
            border-radius: 40px;
        }


        div.skills-item {

            display: flex;
            width: 60vw;
            gap: 60px;
            font-size: 18px;
        }

        div.skills-item .column {
            width: 50%;
        }

        div.skills-item .column .skill-perc {
            justify-content: space-between;
            display: flex;
        }

        div.skills-item .column .item {
            margin-bottom: 26px;
        }

        div.skills-item .column .item .progress {
            width: 100%;
            height: 21px;
            border-radius: 20px;
            border: 3px solid #24293d;
            box-shadow: 0 0 0 2px #b3d6e3e0;
        }

        div.skills-item .column .item .progress .bar {
            background-color: #00aaff;
            height: 15px;
            border-radius: 20px;
        }


        .c3 .edu-content p {
            line-height: 25px;
            font-size: 18px;
        }

        section#contact {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        section#contact hr {
            margin-left: 33px;
        }

        section#contact .container .col-1 {
            margin-right: 30px;
            text-align: center;
            width: 30%;
        }

        section#contact .container .col-1 .detail i {
            font-size: 25px;
            background-color: #3586ff;
            width: 50px;
            border-radius: 50%;
            line-height: 50px;
        }

        section#contact .container .col-2 {
            width: 70%;
        }

        section#contact .container .col-2 .form {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
        }

        section#contact .container .col-2 .form input,
        textarea {
            margin: 20px 0px;
            width: 100%;
            background: transparent;
            border: 2px solid #00aaff;
            padding: 15px 10px;
            border-radius: 5px;
            resize: none;
            font-size: 18px;
            color: #76daff;
            font-family: 'Josefin Sans', sans-serif;
        }

        section#contact .container .col-2 .form input::placeholder,
        textarea::placeholder {
            color: #c6d5db;
        }

        section#contact .container .col-2 .form input:hover,
        textarea:hover {
            border: 2px solid #ffffff;
            transition: all 0.3S;
        }

        section#contact .container .col-2 .form input:focus,
        textarea:focus {
            border: 2px solid #ffffff;
            outline: none;
        }

        footer {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: #3586ff;
            margin-top: 50px;
        }

        footer .waves {
            background: #171925 url(wave.png);
            height: 80px;
            top: 0;
            left: 0;
            width: 100%;
            background-size: 1000px 80px;
            animation: wave-animation 4s linear infinite;

        }

        @keyframes wave-animation {
            0% {
                background-position-x: 1000px;

            }

            100% {
                background-position-x: 10px;
            }

        }

        footer h2 {
            color: #050912;
            letter-spacing: 1px;
            font-weight: 600;
            margin: 20px;
            font-size: 1.9rem;
        }

        footer .icons .list-unstyled {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
        }

        footer .icons .list-unstyled a i {
            color: #050912;
            font-size: 30px;
            padding: 15px;

        }

        footer .icons .list-unstyled a i:hover {
            color: #ffffff;
            transition: all 0.3s;
            scale: 1.1;
        }

        footer .list-menu-2 .list-2 {
            color: #050912;
            font-weight: 600;
            margin: 20px;
            display: flex;
            list-style: none;
            font-size: 1.3rem;
        }

        footer .list-menu-2 .list-2 .list-item-2 {
            padding: 0px 10px;
        }

        footer .list-menu-2 .list-2 .list-item-2:hover {
            color: white;
            font-weight: 100;
            cursor: pointer;
        }

        footer .copyright {
            line-height: 25px;
            text-align: center;
        }

        footer .copyright p {
            font-size: 18px;
            margin-bottom: 30px;
            margin-top: 10px;

        }

        footer .copyright p span {
            color: #050912;
            font-size: 20px;
            font-weight: bold;
        }



        /* =================media query------------- */
        @media only screen and (max-width: 1100px) {
            header {
                padding: 0px 50px;
            }

            div.container {
                flex-wrap: wrap;
                padding: 30px;

            }

            div.content-container {
                padding-left: 0px;
            }

            .img-container img {
                margin-right: 0px;
                margin-bottom: 40px;
            }

            div.skills-item {
                width: 75vw;
                font-size: 15px;
                display: block;
            }

            div.skills-item .column {
                width: 100%;
            }

            section#contact .container .col-1 {
                margin-right: 0px;
                margin-top: 10px;
                margin-bottom: 60px;
                width: 100%;
            }

            section#contact .container .col-2 {
                width: 90%;
            }
        }

        @media only screen and (max-width: 990px) {
            div.logo {
                font-size: 22px;
            }

            div.logo span {

                font-size: 25px;
            }

            ul.list {
                left: 0px;
                top: -2400px;
                width: 100vw;
                height: 100vh;
                background-color: #3599ff;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: absolute;
                font-weight: bold;
                margin-top: -20px;
                border-radius: 0px 80px;
                color: #0f121c;
                transition: all 0.8s;
            }

            li.list-item {
                margin: 20px 0px;

            }

            li.list-item:hover,
            button#cancel:hover {
                transform: scale(1.1);
                color: #ffffff;
                transition: all 0.3s;
            }

            button#ham {
                display: block;
            }

            button#cancel {
                display: block;
            }

            footer .waves {
                height: 60px;

                background-size: 600px 60px;
                animation: wave-animation 7s linear infinite;
            }


        }

        @media only screen and (max-width: 500px) {
            header {
                padding: 0px 10px;
            }

            h1.h1 {
                font-size: larger;
                line-height: 30px;
            }

            section#home {
                font-size: large;
            }

            div.container {
                width: 85vw;

            }

            div.logo {
                margin-left: 13px;
            }

            .img-container img {
                width: 55vw;
            }

            div.container {
                padding: 30px 20px;
            }

            footer h2 {
                font-size: 25px;
            }

            footer .icons .list-unstyled a i {
                font-size: 25px;
                padding: 13px;

            }

            footer .list-menu-2 .list-2 {
                font-size: 1.15rem;
            }

            footer .copyright p {
                font-size: 16px;
            }

            footer .copyright p span {
                font-size: 17px;
            }

        }